@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Open Sans", sans-serif;
}

a {
  font-size: 16px;
  font-weight: 400;
  border: none;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
}

a::after {
  content: "";
  display: inline-block;
  width: 0;
  height: 4px;
  background: #31cd7a;
  transition: width 0.3s;
  position: absolute;
  bottom: -24px;
  left: 0;
}

a:hover {
  color: black;
}

a:hover::after {
  width: 100%;
}
